header{
    width: 100vw;
    padding: 0px 5%;
    height: calc(80vh - 54px);
    background-color: #eee;

    display: flex;
    align-items: center;
}
    
header .details {
    width: 60%;
    justify-content: start;
}

header .details h1{
    font-size: 4vw;
    font-weight: 500;
    margin-bottom:8px;
}

header .details p{
    font-size: 18px;
}

.green-button{
    background-color: var(--primary-color);
    border: 0;
    padding: 2% 4%;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    margin-top: 40px;
}

header img{
    width: 80%;
    height: 80%;
    margin-left: 20px;
}

@media (max-width: 425px) {
    header {
        flex-direction: column-reverse;
        padding:5% 0;
        height: fit-content;
    }
}