@import url(header.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-color: #4CAF4F;
}

.background-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.muted {
    color: rgb(142, 141, 141);
}


.center-text {
    text-align: center;
}

.small-font {
    font-size: smaller;
}
.smaller-font {
    font-size: 18px;
}

.h-1-size {
    font-size:2.5em
}

/* our clients */
.our-clients {
    width: 90%;
    margin: auto;
    padding: 5% 0px;
    text-align: center;
}

.clients {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.clients div img {
    height: 100%;
    width: 45%;
    object-fit: contain;
}

/* community */
.Community {
    padding-bottom: 5%;
}

.community-parent {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 3%;
    padding: 0px 5%;
}

.community-parent .community-child {
    text-align: center;
    padding: 5%;
    box-shadow: 0px 2px 4px 0px #ebe6e6;
    border-radius: 5px;
}

.community-parent .community-child img {
    width: 25%;
}

/* The-unseen */
.The-unseen {
    padding: 5% 0;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
}

.The-unseen .left {
    grid-column: span 1;
}

.The-unseen .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.The-unseen .right {
    grid-column: span 2;
}

.big-green-button {
    border: none;
    padding: 2% 7%;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 5%;
}

/* Helping */
.Helping {
    width: 100%;
    padding: 5% 5%;
    background-color: #F5F7FA;
    margin: auto;


    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Helping .small-divs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Helping .child{
    display: flex;
    align-items: center;
    line-height: 15px;
}

.child img {
    margin-right: 10px;
    width: 15%;
}

.big-font {
    font-size: 1.8em;
}

.p-top {
    padding-top: 10px;
}

/* ------- */

.Tim-smith {
    width: 100% !important;
    padding: 0% 5%;
    background-color: #F5F7FA;
}

.Tim-smith .parent{
    margin-top: 3%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit , minmax(50px , auto))
}
.Tim-smith .left img{
    object-fit: contain;
}

.Tim-smith .parent img {
    width: 50%;
    object-fit: contain;
}
.Tim-smith .parent :last-child{
    grid-column: span 2;
}

/* ---caring--- */

.caring {
    width: 100%;
    padding: 5%;
}

.caring .text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.caring .text h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.caring .parent {
  display: grid;
  gap:90px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  margin-top: 5%;
}

.caring .parent .child{
    position: relative;
}

.caring .parent .child .floating{
    position: absolute;
    padding: 2%;
    padding-bottom: 4%;
    border-radius: 8px;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.4);
    
    width: 70%;
    bottom: -15%;
    left: 15%;
    height: fit-content;

    text-align: center;
    background-color: #F5F7FA;
}

.caring .parent .child .floating p{
    margin-bottom: 10px;
}
.caring .parent .child .floating a {
    display: block;
    width: 40%;
    margin: auto;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.caring .parent .child .floating a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.caring .parent .child .floating a:hover::before {
    transform: translateX(100%);
}

.caring .parent .child img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}




.mt-1 {
    margin-top: 1%;
}
.mt-3 {
    margin-top: 3%;
}
.mt-2 {
    margin-top: 2%;
}
.mt-5 {
    margin-top: 5%;
}
